<h1>Campesinos</h1>

<table border="1">
<thead>
    <tr>
    <th>Nombre</th>
    <th>Ubicación/th>
    </tr>
</thead>
<tbody>
    {% for campesino in campesinos_list %}
    <tr>
    <td>{{ campesino.nombre }}</td>
    <td>{{ campesino.ubicacion}}</td>
    <td><a href="{% url "purchase_view" purchase.id %}">view</a></td>
    <td><a href="{% url "purchase_edit" purchase.id %}">edit</a></td>
    <td><a href="{% url "purchase_delete" purchase.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "campesino_new" %}">New</a>